<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <div class="container">
            <div th:replace="fragments/bodyHeader :: bodyHeader" />
            <div class="jumbotron">
                <h1>Search Main</h1>
                <p class="lead">책</p>
                <p>
                    <a class="btn btn-lg btn-secondary" href="/book/bookList">책 검색</a>
                </p>
                <p class="lead">상품 기능</p>
                <p>
                    <a class="btn btn-lg btn-dark" href="/order/orderList">주문 목록</a>
                </p>
                <p class="lead">관리자 기능</p>
                <p>
                    <a class="btn btn-lg btn-info" href="/bm">관리자</a>
                </p>
            </div>
            <div th:replace="fragments/footer :: footer" />
        </div> <!-- /container -->
    </body>
</html>