<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>번호</th>
                <th>책표지</th>
                <th>책이름</th>
                <th>책가격</th>
                <th>책갯수</th>
                <th>총가격</th>
                <th>주문시간</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:if="${ #lists.size(list) > 0 }">
                <tr th:each="item, loop : ${list}">
                    <td th:text="${ loop.size - loop.index }"></td>
                    <td><img th:src="${item.book.thumbnail}"/></td>
                    <td th:style="${ 'width:150px;'}">
                        <span th:text="${item.book.title}">message</span>
                    </td>
                    <td th:text="${item.book.price}"></td>
                    <td th:text="${item.count}"></td>
                    <td th:text="${item.book.price * item.count }"></td>
                    <td th:text="${item.orderDate}"></td>
                </tr>
            </th:block>
            <th:block th:if="${ #lists.size(list) < 1 }">
                <tr>
                    <td th:colspan="6">검색된 책이 없습니다.</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>