<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="/js/main/main.js"></script>

  <!-- Bootstrap core JavaScript-->
  <script src="/bootstrap/vendor/jquery/jquery.min.js"></script>
  <script src="/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/bootstrap/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/bootstrap/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/bootstrap/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/book/bookList.js"></script>
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; beerbank3 2023</span>
      </div>
    </div>
  </footer>
</div>